.Status {
  display: inline-block;
  font-size: 12px;
}
.Status:hover {
  cursor: default;
}

.RingContainer {
  display: inline-block;
  display: block;
  position: relative;
  transition: 0.5s;
  transform: translateY(-3px);
}

.Circle {
  display: inline-block;
  width: 7px;
  height: 7px;
  line-height: 7px;
  /* background-color: #33cad4;
  background-color: rgba(6, 152, 47, 0.591); */
  background-color: rgba(6, 13, 152, 0.591);
  border-radius: 50%;
  margin-right: 7px;
}

.Ringring {
  /* border: 3px solid #33c9d484;
  border: 3px solid rgba(6, 152, 47, 0.571); */
  border: 3px solid rgba(6, 13, 152, 0.571);
  /* border: 3px solid rgb(152, 135, 6); */
  border-radius: 30px;
  height: 15px;
  width: 15px;
  position: absolute;
  left: -4.4px;
  /* top: 16px; */
  top: 6.5px;
  display: inline-block;
  opacity: 0;
  transform: scale(0.1, 0.1);
}
