.Options {
  background-color: rgb(137, 137, 164);
  display: block;
  width: 80%;
  width: 70%;
  height: auto;
  margin: auto auto 15vh auto;
  border-radius: 15px;
  padding: 5px;
  
  span {
    border-bottom: 2px solid rgb(137, 137, 164);
    
    &:first-child {
      border-radius: 10px 10px 0px 0px;
    }
    &:last-child {
      border-radius: 0px 0px 10px 10px;
      border-bottom: 0px solid #000;
      
    }
  }
}

.Options span {
  border-bottom: 2px solid rgb(137, 137, 164);

}
